<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div style="text-align: center;height: 850px">
    <h1>欢迎使用 lx 接口测试平台</h1>
    <h3>welcome to ApiTestPlatform</h3>

    <div style="border:1px solid black;width:200px;text-align: left;padding-left: 10px;margin-left: -webkit-calc(50% - 100px)">
        <h2>如何使用：</h2>
        1.打开左侧菜单栏 <br>
        2.找到要用的功能 <br>
        3.点击进入 <br>

    </div>

    <h2>更新信息：</h2>
    <span>项目模块管理上线，并修复已知bug</span>

    <h2>反馈：</h2>
    <span>如有问题，请联系********</span>
    <span>
    或者进入 <a href="">本平台优化建议</a>中进行反馈
</span>
    <br>
    <img src="/static/c01.png" alt="图片消失了" style="height: 100px">
</div>

</body>
</html>