<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .btn{
            color: white;
        }
    </style>
</head>
<body>


{# <h3 style="padding-left: 10px;color: #353c48">#}
{#     项目列表：#}
{#     <span style="font-size: small;color: grey;">#}
{#         （这里显示全部项目,您可以进入他人的项目中查看）#}
{#     </span>#}
{# </h3>#}
{#<button onclick="javascript:document.getElementById('add_project_div').style.display='block'">新增项目</button>#}

<h3 style="padding-left: 10px;color: #353c48">项目列表：
    <span style="font-size: large;color: grey;">
        点击 <a href="#" onclick="javascript:document.getElementById('add_project_div').style.display='block'">新增项目</a>
        即可创建属于您的新项目！
    </span>
</h3>
<table class="table table-striped">
    <thread>
        <tr>
            <th>项目id</th>
            <th>项目名</th>
            <th>项目创建人</th>
            <th>项目描述</th>
            <th>操作</th>
        </tr>
    </thread>
    <tbody>
     {% for i in projects %}
        <tr>
            <td>
                {{ i.id }}
            </td>
            <td>
                {{ i.name }} <br>
            </td>
            <td>
                {{ i.user }}

            </td>
            <td>
                {{ i.remark }}
            </td>
            <td>
                <button class="btn btn-success" onclick="javascript:document.location.href='/apis/{{ i.id }}/'">进入</button>
                <button class="btn btn-danger" onclick="delete_project('{{ i.id }}')">删除</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{#新增窗口#}
<div id="add_project_div" style="width: 50%;background-color:white;position: absolute;left: 25%;top: 50px;border: 1px solid black;
padding-left: 10px;border-radius: 5px;box-shadow: 4px 4px 8px grey;display: none">
    <h3>项目名称（最多100字）</h3>
    <input id="project_name" type="text" placeholder="请输入内容" style="width: 90%">
    <br><br>
    <button class="btn btn-success" onclick="add_project()">确定</button>
    <button class="btn btn-danger" onclick="javascript:document.getElementById('add_project_div').style.display='none'">取消</button>
    <br><br>

</div>

{#删除按钮功能#}
 <script>
     function delete_project(id) {
         if(confirm("确认是否删除该项目")==false){return}
        $.get("/delete_project/",{
            "id":id,
        },function (res) {
                document.location.reload();
            }
        )
     }
 </script>

{# 新增项目的确定功能#}
 <script>
     function add_project() {
            project_name = $("#project_name").val()
            $.get("/add_project/",{
                "project_name":project_name,
            },function (res) {
                document.location.reload();
            })

     }

 </script>

</body>
</html>